html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #a2ffcc;
    overflow: hidden;
}

.game-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-menu,
.right-menu {
    opacity: .8;
    background-color: #333;
    width: 10%;
    height: 100%;
    align-items: center;
}

.game-main {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}

.level,
.level-up-num,
.money {
    text-align: center;
    color: #fff;
}

.level-up-num,
.money {
    font-size: 1.3em
}

.field-container {
    width: 100%;
    margin-right: 15px;
}

.field {
    display: block;
    width: 100%;
}

.game-log-range {
    width: 60%;
    height: 100vh;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.game-log-range p {
    padding: .3em;
    margin: .1em;
    font-size: 1.3em;
    color: #fff;
    background-color: #000;
    transition: .5s;
}

/*タブ切り替え*/

.tab-1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;
}

.tab-1 > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    height: 4%;
    padding: .7em 1em .5em;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #e9f0f6;
    color: #535353;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab-1 > label:hover {
    opacity: .8;
}

.tab-1 input {
    display: none;
}

.tab-1 > div {
    display: none;
    height: 100%;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fff;
}

.tab-1 label:has(:checked) {
    background-color: #fff;
    border-color: #ff7f50 #f0f0f0 #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-radius: 5px;
    color: #333333;
}

.tab-1 label:has(:checked) + div {
    display: block;
}

/*タブ切り替え 以上*/

.button-img {
    width: 80%; 
    height: auto;
}

.content-img {
    width: 150px;
    height: auto;
    margin: 0;
}

.ingredient-img {
    width: 50px;
}

.content-area {
    width: 30%;
    height: 100%;
    text-align: center;
}

.buy-area
.make-area {
    padding: 1.5em 1em 1.5em 0;
    width: 70%;
}

.buy-button,
.make-button,
.setting-button{
    width: 8em;
    height: 6em;
    background-color: #ff7f50;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: .3s;
}

.buy-button:hover,
.make-button:hover,
.setting-button:hover{
    filter: brightness(1.5);
}

.modal_wrap1 input,
.modal_wrap2 input,
.modal_wrap3 input{
    display: none;
}

.modal_open-label1,
.modal_open-label2,
.modal_open-label3,
.modal_close-label{
    cursor: pointer;
}

.modal_open-label1,
.modal_open-label2,
.modal_open-label3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    margin: 1em auto;
    border: none;
    border-radius: 50%;
    background-color: #ff7f50;
    transition: .3s;
}

.modal_open-label1:hover,
.modal_open-label2:hover,
.modal_open-label3:hover{
    filter: brightness(1.5);
}

.modal1,
.modal2,
.modal3{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.modal_open-input1:checked + label + input + .modal1,
.modal_open-input2:checked + label + input + .modal2,
.modal_open-input3:checked + label + input + .modal3{
    display: block;
    animation: modal-animation .6s;
}

.modal_content-wrap1,
.modal_content-wrap2,
.modal_content-wrap3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 650px;
    background-color: #fefefe;
    z-index: 2;
    border-radius: 5px;
}

.modal_close-label{
    background-color: #777;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    line-height: 1.6;
    text-align: center;
    display: table-cell;
    position: fixed;
    top: -15px;
    right: -2%;
    z-index: 99999;
    font-size: 1.3em;
}

.to_left,
.to_right {
    background-color: #ff7f50;
    color: #000;
    border: none;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: table-cell;
    position: fixed;
    top: 50%;
    z-index: 99990;
    font-size: 1.3em;
    transition: .3s;
}

.to_left {
    left: -5%;
}

.to_right {
    right: -5%;
    top: 48%;
}

.to_left:hover,
.to_right:hover {
    filter: brightness(1.5);
}

.modal_content1,
.modal_content2,
.modal_content3{
    max-height: 50vh;
    overflow-y: auto;
    padding: 39px 10px 40px;
    display: flex;
}

.modal_background1,
.modal_background2,
.modal_background3{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: 1;
}

@keyframes modal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 520px) {
    .modal_open-label1,
    .modal_open-label2,
    .modal_open-label3{
        max-width: 90%;
        padding: .94em 2.1em .94em 2.6em;
    }

    .modal_close-label{
        top: -17px;
        right: -4%;
    }

    .modal_content-wrap1,
    .modal_content-wrap2,
    .modal_content-wrap3{
        width: 90vw;
    }

    .modal_content1,
    .modal_content2,
    .modal_content3{
        padding: 33px 21px 35px;
        max-width: 100%;
    }
}
